p {
  font-family: montserrat;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.title {
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 15px;
}
.subtitle {
  font-size: 20px;
}
.delivery {
  text-decoration: underline;
}
